<div class="usuarios">
  <h1 style="text-align:center">Usuarios</h1>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Cumpleaños</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users" style="vertical-align:text-top">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.birthday}}</td>
    </tr>
  
    </tbody>
  </table>
</div>
  